@media screen
  and (min-width: 1201px)
  and (-webkit-min-device-pixel-ratio: 1) {
    .software {
        width: 435px;
        height: 585px;
        background: url(software.png) 0 0px;
    }
}

@media screen
  and (min-width: 1001px)
  and (max-width: 1200px)
  and (-webkit-min-device-pixel-ratio: 1) {
    .software {
        width: 430px;
        height: 585px;
        background: url(software.png) 435px 0px;
    }
}
