html {
    text-align: center;
    background-color: black;
    font-family: Tahoma, sans-serif;
    color: white;
}

#title {
    text-decoration: underline;
}

#lyrics {
    font-size: 1.5em;
}

.bold {
    font-weight: bold;
}
