html {
    text-align: center;
    background-color: black;
    font-family: Tahoma, sans-serif;
    color: white;
}

#title {
    text-decoration: underline;
}

#wedo {
    border-style: groove;
    border-width: 0.25em;
}

#lyrics {
    font-size: 1.5em;
}

.bold {
    font-weight: bold;
}
