#map {
    height: 100%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.bold {
    font-weight: bold;
}

.header {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

th, td {
    padding: 0px 10px;
}
